<div class="wrapper">

    <h1>So? What Have I Missed?</h1>
    <input class="end-date hide" type="date" name="date" id="date">
    <div class="logo-container">
        <svg class="icon lol">
            <use xlink:href="imgs/sprite.svg#icons8-league-of-legends"></use>
        </svg>
        <img class="wow" src="imgs/warcraft.png" />
        <img class="hs" src="imgs/hearthstone.png" />
    </div>

    <div class="tips-container"></div>


</div>

<div class="card-container"></div>