<div class="wrapper">

    <div class="overlay hide"></div>

    <h1 class="question hide">What game are you coming back to?</h1>

    <div class="banner">
        <img src="imgs/hsbanner.png" alt="">
        <h1>Hearthstone</h1>
        <h2>Hearthstone is a fast-paced strategy card game from Blizzard Entertainment.</h2>
        <ul class="social-media">
            <li>
                <a class="website" href="#">
                    <i class="fas fa-globe-americas"></i>
                </a>
            </li>
            <li>
                <a class="twitter" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="twitch" href="#">
                    <i class="fab fa-twitch"></i>
                </a>
            </li>
            <li>
                <a class="youtube" href="#">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="tips-container tips-container__top">
        <p>You've missed 3 patches since you left.
        </p>
    </div>

    <div class="card-container">
        <div class="card">
            <div>
                <h4 class="title">21.0.03 Patch Notes</h4>
                <a href="">View Patch ></a>
            </div>
            <img src="/imgs/hsbanner.png" alt="">
        </div>
        <div class="card">
            <div>
                <h4 class="title">21.0.03 Patch Notes</h4>
                <a href="">View Patch ></a>
            </div>
            <img src="/imgs/hsbanner.png" alt="">
        </div>
        <div class="card">
            <div>
                <h4 class="title">21.0.03 Patch Notes</h4>
                <a href="">View Patch ></a>
            </div>
            <img src="/imgs/hsbanner.png" alt="">
        </div>
    </div>

    <input class="end-date hide" type="date" name="date" id="date">
    <!-- <div class="logo-container__card chosen-game hide">
        <img class="logos" src="imgs/lol.png" />
        <h2>League of Legends</h2>
    </div> -->
    <div class="logo-container ">
        <div class="logo-container__card lol hide">
            <img class="logos" src="imgs/lol.png" />
            <h2>League of Legends</h2>
        </div>
        <div class="logo-container__card wow hide">
            <img class="logos" src="imgs/warcraft.png" />
            <h2>World of Warcraft</h2>
        </div>
        <div class="logo-container__card hs hide">
            <img class="logos" src="imgs/hs.png" />
            <h2>Hearthstone</h2>
        </div>
        <div class="logo-container__card ow hide">
            <img class="logos" src="imgs/overwatch.png" />
            <h2>Overwatch</h2>
        </div>
    </div>
    <svg class="p-logo hide" width="58" height="75" viewBox="0 0 58 75" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M16.4977 68.8766C16.4977 72.6526 12.8177 74.5406 5.45767 74.5406C3.85767 74.5406 2.89767 73.7406 2.57767 72.1406C2.32167 70.4766 2.19367 68.1726 2.19367 65.2286C2.19367 59.0206 3.44167 51.3406 5.93767 42.1886C10.0977 27.0846 14.5457 18.1886 19.2817 15.5006C19.9217 15.1166 20.6257 14.9246 21.3937 14.9246C22.1617 14.9246 22.5457 16.1726 22.5457 18.6686C22.5457 21.1646 22.4177 23.3726 22.1617 25.2926C21.6497 29.1326 20.7217 34.0926 19.3777 40.1726C18.0977 46.2526 17.4577 49.8366 17.4577 50.9246L16.4977 68.8766ZM23.0257 43.0526C23.0257 42.2206 23.4737 41.6766 24.3697 41.4206C25.3297 41.1646 26.5137 40.9406 27.9217 40.7486C29.3297 40.4926 30.8657 40.1406 32.5297 39.6926C34.1937 39.2446 35.7297 38.4126 37.1377 37.1966C40.4017 34.3806 42.0337 29.6766 42.0337 23.0846C42.0337 18.8606 40.5937 15.6286 37.7137 13.3886C34.8977 11.1486 30.8017 10.0286 25.4257 10.0286C20.1137 10.0286 15.1217 11.1486 10.4497 13.3886C8.72167 14.2206 7.15367 14.9886 5.74567 15.6926C4.40167 16.3966 3.15367 16.7486 2.00167 16.7486C0.849672 16.7486 0.273672 16.3966 0.273672 15.6926C0.273672 14.6046 1.32967 12.8126 3.44167 10.3166C5.55367 8.01258 8.88167 5.86858 13.4257 3.88458C18.0337 1.90058 22.8657 0.908583 27.9217 0.908583C37.4577 0.844584 44.8817 3.08458 50.1937 7.62858C54.8017 11.5966 57.1057 16.7486 57.1057 23.0846C57.1057 29.3566 54.8337 34.9886 50.2897 39.9806C45.7457 44.9086 40.0497 47.3726 33.2017 47.3726C26.4177 47.3726 23.0257 45.9326 23.0257 43.0526Z"
            fill="white" />
    </svg>

    <div class="tips -container tips-container__bottom hide">
        <p>Champions are most vulnerable to attack when they are in the middle of an action, like attacking a Minion.
        </p>
    </div>

</div>