@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: #fafbfc;
  align-items: start;
}

h1 {
  padding-bottom: 2.25rem;
  font-weight: 400;
  z-index: 100;
}

h2,
h3,
h4 {
  font-weight: 400;
  color: #000;
}

/* p {

} */

.wrapper {
  max-width: 90rem;
  margin: 1rem 4rem;
  display: flex;
  flex-direction: column;
  background-color: #0c2f3f;
  padding: 4em 13em 0;
  border-radius: 18px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5rem;
  padding-top: 2rem;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 4rem 2rem;
}

.logo-container__card {
  /* padding: 2.5rem 8.5rem; */
  padding: 2.5rem 6rem;
  min-width: calc(50% - 2rem);
  background-color: #ebebec;
  border-radius: 18px;
  position: relative;
  z-index: 9;
}

.logo-container__card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22%;
  background-color: #ffffff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  z-index: -1;
}

.logo-container__card h2 {
  margin-top: 2rem;
  margin-bottom: -2rem;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.card {
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  animation: fade-in 1.5s ease-out;
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.card:hover {
  box-shadow: 6px 6px 0 0 #000;
  -webkit-transform: translate(-8px, -8px);
  -ms-transform: translate(-8px, -8px);
  transform: translate(-8px, -8px);
}

/* svg {
  width: 268.8px;
  height: 268.8px;
} */

.animate {
  -webkit-animation: scaleimage 2s ease-in-out infinite alternate both;
  animation: scaleimage 2s ease-in-out infinite alternate both;
}

.logos {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.logo-container__card {
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.logo-container__card:hover {
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.hide {
  display: none;
  opacity: 0;
  /* visibility: hidden; */
}

.end-date {
  /* max-width: 25%; */
  align-self: center;
  margin: 0 2rem 4rem;
  z-index: 99;
}

footer {
  position: fixed;
  bottom: 0;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  color: white;
  background-color: black;
}

header {
  top: 0;
  left: 0;
  max-height: 4rem;
  margin-bottom: 2rem;
  font-size: 12px;
  width: 100%;
  color: #c4c4c4;
  background-color: #ffffff;
}

nav {
  box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.nav-bar {
  display: flex;
  margin: 0 auto;
  max-width: 90rem;
  justify-content: space-between;
}

.brand {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search-text {
  border: 1px solid #c4c4c4;
  outline: #000;
  border-radius: 50px;
  padding: 0.5rem 2.5rem;
}

.search-icon {
  transform: translateX(-2rem);
}

.search-text::placeholder {
  color: #c4c4c4;
}

.overlay {
  position: absolute;
  border-radius: 18px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 47, 63, 0.95);
  z-index: 99;
}

.p-logo {
  margin: 0 auto;
  margin-top: 4rem;
  z-index: 100;
}

.chosen-game {
  width: max-content;
  margin: 0 auto;
}

.tips-container {
  margin: 0 auto;
  padding: 2rem;
  z-index: 100;
  position: relative;
  max-width: 55ch;
  text-align: left;
}

.tips-container p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.tips-container p::before {
  content: "";
  position: absolute;
  left: 2.5%;
  top: 32.5%;
  background-color: #ffffff;
  width: 4px;
  height: 40px;
  border-radius: 18px;
}

.banner {
  /* overflow: hidden; */
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
}

.banner h2 {
  max-width: 45ch;
  align-self: center;
}

.social-media {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}
.social-media a {
  text-decoration: none;
  color: #fafbfc;
}

/* Animations */

@keyframes scaleimage {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 1440px) {
  .logo-container__card h2 {
    font-size: 1rem;
    margin-bottom: -1.5rem;
  }
}

@media screen and (max-width: 885px) {
  .logo-container {
    flex-direction: column;
    gap: 2rem;
  }
  .logo-container__card {
    padding: 2.5rem 4rem;
  }

  .wrapper {
    padding: 4em 8em 0;
  }
  .tips-container p {
    font-size: 12px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 660px) {
  .logo-container__card {
    padding: 2rem 2.5rem;
  }

  .wrapper {
    padding: 3em 6em 0;
  }
}
